{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Chooseflix !
{% endblock %}

{% block body %}
	<nav class="navbar navbar-light bg-light">
		<div class=" d-flex flex-row">
			<div class="container-fluid">
				<img src="https://zupimages.net/up/21/27/dqrg.png" alt="" width="120" height="80" class="d-inline-block align-text-top">
			</div>
			<ul>
				<li><a href="{{path('actor_new')}}">Renseigner une liste d'acteurs</a></li>
				<li><a href="{{path('director_new')}}">Renseigner un réalisateur</a></li>
				<li><a href="{{path('movie_new')}}">Renseigner un film</a></li>
			</ul>
		</div>
	</nav>
	<h1>Bienvenue sur Chooseflix</h1>
	<p>Si vous êtes ici, c'est que vous n'avez pas d'idée de film a regarder ce soir. Rassurez vous, nous sommes la pour vous donner des idées.</p>
	<p>Le site est collaboratif, les idées de film qui va vous être présenté ont été renseigné par la communauté</p>
	<p>Si vous trouvez le principe intéressant et que vous voulez contribuer, je vous invite à aller, vous aussi, renseigner une idée de film pour la communauté. Merci !</p>
    <button type="button" class="btn btn-dark btn-lg btn-blockt"><a class="text-white" href="{{ path('movie_index') }}"/>Découvrir tout de suite nos films !</button>
{% endblock %}
