{% extends 'base.html.twig' %}

{% block title %}Edition du film{% endblock %}

{% block body %}
    <h1>Edition du film : {{ movie.name }}</h1>

    {{ include('movie/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
