{% extends 'base.html.twig' %}

{% block title %}Réferencer un nouveau film{% endblock %}

{% block body %}
    <h1>Réferencer un nouveau film</h1>

    {{ include('movie/_form.html.twig') }}

{% endblock %}
