{% extends 'base.html.twig' %}

{% block title %}Edition du réalisateur{% endblock %}

{% block body %}
    <h1>Edition du réalisateur</h1>

    {{ include('director/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('director/_delete_form.html.twig') }}
{% endblock %}
