{% extends 'base.html.twig' %}

{% block title %}New Director{% endblock %}

{% block body %}
    <h1>Réferencé un nouveau réalisateur</h1>

    {{ include('director/_form.html.twig') }}

{% endblock %}
